<div class="row">
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
    <div class="col-sm-6 col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://cliparts.co/cliparts/BTg/E8d/BTgE8dLkc.png" alt="">
        </a>
        <h3>
            <a href="#">Book Title</a>
        </h3>
        <h4><a href="#">Author</a></h4>
    </div>
</div>






