#container {
    margin: 20px auto;
    /*padding: 20px;*/
    /*max-width: 1020px;*/
    width: 70%;
    /*border: 1px solid #878E63;*/
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(12, 3, 25, 0.8);
}

.form-wrapper {
    margin: 0 20px;
    width: 80%;
}

.form-wrapper input {
    width: 300px;
}

.buttonWrap button {
    margin-left: 10px;
}

.container-fluid {
    padding: 10px 15px;
}

img {
    width: 100px;
    height: 100px;
}

#main {
    margin: 0 auto;
}

.bookContainer {
    text-align: center;
}

/*
footer {
    background-color: black;
}

ul {
    list-style-type: none;

}

footer ul li a {
    color:black;
    margin-right: 100px;
}

.footerText {
    margin-left: 100px;
    color:black;
    float:left;
}

ul li a:hover {
    text-decoration: none;
}

ul li a:visited {
    text-decoration: none;
}
*/

